[submodule "third_party/apostrophe"]
	path = third_party/apostrophe
	url = https://github.com/Helaas/apostrophe.git
[submodule "third_party/pakkit"]
	path = third_party/pakkit
	url = https://github.com/ericreinsmidt/pakkit
